CONFIG_RECIPE:=skia
CONFIG_VARIANT:=wasm

CONFIG_SYSROOT:=y
CONFIG_SKIACONFIG:=wasm
CONFIG_SKIA_EMBEDDED_FONTS:=y

DOCKER_SERVICE:=skiabuild-wasm

SKIA_CC:=emcc
SKIA_CXX:=em++
SKIA_AR:=emar

GN:=./bin/gn


